@import '@mantine/core/styles.css';

:root {
  --mantine-line-height: 1.5;
  /* Ref: https://systemfontstack.com/ */
  --mantine-font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Segoe UI, Helvetica Neue, Helvetica, Cantarell, Ubuntu, Roboto, Noto, Arial,
    sans-serif;
  --mantine-font-family-monospace: Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
  --mantine-font-family-heading: Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --mantine-breakpoint-xs: '30em';
  --mantine-breakpoint-sm: '40em';
  --mantine-breakpoint-md: '48em';
  --mantine-breakpoint-lg: '64em';
  --mantine-breakpoint-xl: '80em';
  /* NOTE: But breakpoints is subcribed to theme so this is okay */
  --mantine-breakpoint-2xl: '96em';
  --mantine-line-height-xs: 1.25;
  --mantine-line-height-sm: 1.375;
  --mantine-line-height-md: 1.5;
  --mantine-line-height-lg: 1.625;
  --mantine-line-height-xl: 1.2;
  --mantine-shadow-xs: 0 calc(0.0625rem * var(--mantine-scale))
    calc(0.125rem * var(--mantine-scale)) 0 rgba(0, 0, 0, 0.05);
  --mantine-shadow-sm: 0 calc(0.0625rem * var(--mantine-scale))
      calc(0.1875rem * var(--mantine-scale)) 0 rgba(0, 0, 0, 0.1),
    0 calc(0.0625rem * var(--mantine-scale))
      calc(0.125rem * var(--mantine-scale))
      calc(-0.0625rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1);
  --mantine-shadow-md: 0 calc(0.25rem * var(--mantine-scale))
      calc(0.375rem * var(--mantine-scale))
      calc(-0.0625rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1),
    0 calc(0.125rem * var(--mantine-scale)) calc(0.25rem * var(--mantine-scale))
      calc(-0.125rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1);
  --mantine-shadow-lg: 0 calc(0.625rem * var(--mantine-scale))
      calc(0.9375rem * var(--mantine-scale))
      calc(-0.1875rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1),
    0 calc(0.25rem * var(--mantine-scale)) calc(0.375rem * var(--mantine-scale))
      calc(-0.25rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1);
  --mantine-shadow-xl: 0 calc(1.25rem * var(--mantine-scale))
      calc(1.5625rem * var(--mantine-scale))
      calc(-0.3125rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1),
    0 calc(0.5rem * var(--mantine-scale)) calc(0.625rem * var(--mantine-scale))
      calc(-0.375rem * var(--mantine-scale)) rgba(0, 0, 0, 0.1);
  /* NOTE: Theme keys MUST NOT start with number */
  --mantine-shadow-xl2: 0 calc(1.5625rem * var(--mantine-scale))
    calc(3.125rem * var(--mantine-scale)) calc(-0.75rem * var(--mantine-scale))
    rgba(0, 0, 0, 0.25);
  --mantine-radius-xs: calc(0.125rem * var(--mantine-scale));
  --mantine-radius-sm: calc(0.25rem * var(--mantine-scale));
  --mantine-radius-md: calc(0.375rem * var(--mantine-scale));
  --mantine-radius-lg: calc(0.5rem * var(--mantine-scale));
  --mantine-radius-xl: calc(0.75rem * var(--mantine-scale));
  --mantine-h1-font-size: calc(2.25rem * var(--mantine-scale));
  --mantine-h1-line-height: 2.5rem;
  --mantine-h1-font-weight: 700;
  --mantine-h2-font-size: calc(1.875rem * var(--mantine-scale));
  --mantine-h2-line-height: 2.25rem;
  --mantine-h2-font-weight: 700;
  --mantine-h3-font-size: calc(1.5rem * var(--mantine-scale));
  --mantine-h3-line-height: 2rem;
  --mantine-h3-font-weight: 700;
  --mantine-h4-font-size: calc(1.25rem * var(--mantine-scale));
  --mantine-h4-line-height: 1.75rem;
  --mantine-h4-font-weight: 700;
  --mantine-h5-font-size: calc(1.125rem * var(--mantine-scale));
  --mantine-h5-line-height: 1.75rem;
  --mantine-h5-font-weight: 700;
  --mantine-h6-font-size: calc(1rem * var(--mantine-scale));
  --mantine-h6-line-height: 1.5rem;
  --mantine-h6-font-weight: 700;

  --mantine-color-slate-0: #f8fafc;
  --mantine-color-slate-1: #f1f5f9;
  --mantine-color-slate-2: #e2e8f0;
  --mantine-color-slate-3: #cbd5e1;
  --mantine-color-slate-4: #94a3b8;
  --mantine-color-slate-5: #64748b;
  --mantine-color-slate-6: #475569;
  --mantine-color-slate-7: #334155;
  --mantine-color-slate-8: #1e293b;
  --mantine-color-slate-9: #0f172a;
  --mantine-color-slate-10: #020617;
  --mantine-color-gray-0: #f9fafb;
  --mantine-color-gray-1: #f3f4f6;
  --mantine-color-gray-2: #e5e7eb;
  --mantine-color-gray-3: #d1d5db;
  --mantine-color-gray-4: #9ca3af;
  --mantine-color-gray-5: #6b7280;
  --mantine-color-gray-6: #4b5563;
  --mantine-color-gray-7: #374151;
  --mantine-color-gray-8: #1f2937;
  --mantine-color-gray-9: #111827;
  --mantine-color-gray-10: #030712;
  --mantine-color-zinc-0: #fafafa;
  --mantine-color-zinc-1: #f4f4f5;
  --mantine-color-zinc-2: #e4e4e7;
  --mantine-color-zinc-3: #d4d4d8;
  --mantine-color-zinc-4: #a1a1aa;
  --mantine-color-zinc-5: #71717a;
  --mantine-color-zinc-6: #52525b;
  --mantine-color-zinc-7: #3f3f46;
  --mantine-color-zinc-8: #27272a;
  --mantine-color-zinc-9: #18181b;
  --mantine-color-zinc-10: #09090b;
  --mantine-color-neutral-0: #fafafa;
  --mantine-color-neutral-1: #f5f5f5;
  --mantine-color-neutral-2: #e5e5e5;
  --mantine-color-neutral-3: #d4d4d4;
  --mantine-color-neutral-4: #a3a3a3;
  --mantine-color-neutral-5: #737373;
  --mantine-color-neutral-6: #525252;
  --mantine-color-neutral-7: #404040;
  --mantine-color-neutral-8: #262626;
  --mantine-color-neutral-9: #171717;
  --mantine-color-neutral-10: #0a0a0a;
  --mantine-color-stone-0: #fafaf9;
  --mantine-color-stone-1: #f5f5f4;
  --mantine-color-stone-2: #e7e5e4;
  --mantine-color-stone-3: #d6d3d1;
  --mantine-color-stone-4: #a8a29e;
  --mantine-color-stone-5: #78716c;
  --mantine-color-stone-6: #57534e;
  --mantine-color-stone-7: #44403c;
  --mantine-color-stone-8: #292524;
  --mantine-color-stone-9: #1c1917;
  --mantine-color-stone-10: #0c0a09;
  --mantine-color-red-0: #fef2f2;
  --mantine-color-red-1: #fee2e2;
  --mantine-color-red-2: #fecaca;
  --mantine-color-red-3: #fca5a5;
  --mantine-color-red-4: #f87171;
  --mantine-color-red-5: #ef4444;
  --mantine-color-red-6: #dc2626;
  --mantine-color-red-7: #b91c1c;
  --mantine-color-red-8: #991b1b;
  --mantine-color-red-9: #7f1d1d;
  --mantine-color-red-10: #450a0a;
  --mantine-color-orange-0: #fff7ed;
  --mantine-color-orange-1: #ffedd5;
  --mantine-color-orange-2: #fed7aa;
  --mantine-color-orange-3: #fdba74;
  --mantine-color-orange-4: #fb923c;
  --mantine-color-orange-5: #f97316;
  --mantine-color-orange-6: #ea580c;
  --mantine-color-orange-7: #c2410c;
  --mantine-color-orange-8: #9a3412;
  --mantine-color-orange-9: #7c2d12;
  --mantine-color-orange-10: #431407;
  --mantine-color-amber-0: #fffbeb;
  --mantine-color-amber-1: #fef3c7;
  --mantine-color-amber-2: #fde68a;
  --mantine-color-amber-3: #fcd34d;
  --mantine-color-amber-4: #fbbf24;
  --mantine-color-amber-5: #f59e0b;
  --mantine-color-amber-6: #d97706;
  --mantine-color-amber-7: #b45309;
  --mantine-color-amber-8: #92400e;
  --mantine-color-amber-9: #78350f;
  --mantine-color-amber-10: #451a03;
  --mantine-color-yellow-0: #fefce8;
  --mantine-color-yellow-1: #fef9c3;
  --mantine-color-yellow-2: #fef08a;
  --mantine-color-yellow-3: #fde047;
  --mantine-color-yellow-4: #facc15;
  --mantine-color-yellow-5: #eab308;
  --mantine-color-yellow-6: #ca8a04;
  --mantine-color-yellow-7: #a16207;
  --mantine-color-yellow-8: #854d0e;
  --mantine-color-yellow-9: #713f12;
  --mantine-color-yellow-10: #422006;
  --mantine-color-lime-0: #f7fee7;
  --mantine-color-lime-1: #ecfccb;
  --mantine-color-lime-2: #d9f99d;
  --mantine-color-lime-3: #bef264;
  --mantine-color-lime-4: #a3e635;
  --mantine-color-lime-5: #84cc16;
  --mantine-color-lime-6: #65a30d;
  --mantine-color-lime-7: #4d7c0f;
  --mantine-color-lime-8: #3f6212;
  --mantine-color-lime-9: #365314;
  --mantine-color-lime-10: #1a2e05;
  --mantine-color-green-0: #f0fdf4;
  --mantine-color-green-1: #dcfce7;
  --mantine-color-green-2: #bbf7d0;
  --mantine-color-green-3: #86efac;
  --mantine-color-green-4: #4ade80;
  --mantine-color-green-5: #22c55e;
  --mantine-color-green-6: #16a34a;
  --mantine-color-green-7: #15803d;
  --mantine-color-green-8: #166534;
  --mantine-color-green-9: #14532d;
  --mantine-color-green-10: #052e16;
  --mantine-color-emerald-0: #ecfdf5;
  --mantine-color-emerald-1: #d1fae5;
  --mantine-color-emerald-2: #a7f3d0;
  --mantine-color-emerald-3: #6ee7b7;
  --mantine-color-emerald-4: #34d399;
  --mantine-color-emerald-5: #10b981;
  --mantine-color-emerald-6: #059669;
  --mantine-color-emerald-7: #047857;
  --mantine-color-emerald-8: #065f46;
  --mantine-color-emerald-9: #064e3b;
  --mantine-color-emerald-10: #022c22;
  --mantine-color-teal-0: #f0fdfa;
  --mantine-color-teal-1: #ccfbf1;
  --mantine-color-teal-2: #99f6e4;
  --mantine-color-teal-3: #5eead4;
  --mantine-color-teal-4: #2dd4bf;
  --mantine-color-teal-5: #14b8a6;
  --mantine-color-teal-6: #0d9488;
  --mantine-color-teal-7: #0f766e;
  --mantine-color-teal-8: #115e59;
  --mantine-color-teal-9: #134e4a;
  --mantine-color-teal-10: #042f2e;
  --mantine-color-cyan-0: #ecfeff;
  --mantine-color-cyan-1: #cffafe;
  --mantine-color-cyan-2: #a5f3fc;
  --mantine-color-cyan-3: #67e8f9;
  --mantine-color-cyan-4: #22d3ee;
  --mantine-color-cyan-5: #06b6d4;
  --mantine-color-cyan-6: #0891b2;
  --mantine-color-cyan-7: #0e7490;
  --mantine-color-cyan-8: #155e75;
  --mantine-color-cyan-9: #164e63;
  --mantine-color-cyan-10: #083344;
  --mantine-color-sky-0: #f0f9ff;
  --mantine-color-sky-1: #e0f2fe;
  --mantine-color-sky-2: #bae6fd;
  --mantine-color-sky-3: #7dd3fc;
  --mantine-color-sky-4: #38bdf8;
  --mantine-color-sky-5: #0ea5e9;
  --mantine-color-sky-6: #0284c7;
  --mantine-color-sky-7: #0369a1;
  --mantine-color-sky-8: #075985;
  --mantine-color-sky-9: #0c4a6e;
  --mantine-color-sky-10: #082f49;
  --mantine-color-blue-0: #eff6ff;
  --mantine-color-blue-1: #dbeafe;
  --mantine-color-blue-2: #bfdbfe;
  --mantine-color-blue-3: #93c5fd;
  --mantine-color-blue-4: #60a5fa;
  --mantine-color-blue-5: #3b82f6;
  --mantine-color-blue-6: #2563eb;
  --mantine-color-blue-7: #1d4ed8;
  --mantine-color-blue-8: #1e40af;
  --mantine-color-blue-9: #1e3a8a;
  --mantine-color-blue-10: #172554;
  --mantine-color-indigo-0: #eef2ff;
  --mantine-color-indigo-1: #e0e7ff;
  --mantine-color-indigo-2: #c7d2fe;
  --mantine-color-indigo-3: #a5b4fc;
  --mantine-color-indigo-4: #818cf8;
  --mantine-color-indigo-5: #6366f1;
  --mantine-color-indigo-6: #4f46e5;
  --mantine-color-indigo-7: #4338ca;
  --mantine-color-indigo-8: #3730a3;
  --mantine-color-indigo-9: #312e81;
  --mantine-color-indigo-10: #1e1b4b;
  --mantine-color-violet-0: #f5f3ff;
  --mantine-color-violet-1: #ede9fe;
  --mantine-color-violet-2: #ddd6fe;
  --mantine-color-violet-3: #c4b5fd;
  --mantine-color-violet-4: #a78bfa;
  --mantine-color-violet-5: #8b5cf6;
  --mantine-color-violet-6: #7c3aed;
  --mantine-color-violet-7: #6d28d9;
  --mantine-color-violet-8: #5b21b6;
  --mantine-color-violet-9: #4c1d95;
  --mantine-color-violet-10: #2e1065;
  --mantine-color-purple-0: #faf5ff;
  --mantine-color-purple-1: #f3e8ff;
  --mantine-color-purple-2: #e9d5ff;
  --mantine-color-purple-3: #d8b4fe;
  --mantine-color-purple-4: #c084fc;
  --mantine-color-purple-5: #a855f7;
  --mantine-color-purple-6: #9333ea;
  --mantine-color-purple-7: #7e22ce;
  --mantine-color-purple-8: #6b21a8;
  --mantine-color-purple-9: #581c87;
  --mantine-color-purple-10: #3b0764;
  --mantine-color-fuchsia-0: #fdf4ff;
  --mantine-color-fuchsia-1: #fae8ff;
  --mantine-color-fuchsia-2: #f5d0fe;
  --mantine-color-fuchsia-3: #f0abfc;
  --mantine-color-fuchsia-4: #e879f9;
  --mantine-color-fuchsia-5: #d946ef;
  --mantine-color-fuchsia-6: #c026d3;
  --mantine-color-fuchsia-7: #a21caf;
  --mantine-color-fuchsia-8: #86198f;
  --mantine-color-fuchsia-9: #701a75;
  --mantine-color-fuchsia-10: #4a044e;
  --mantine-color-pink-0: #fdf2f8;
  --mantine-color-pink-1: #fce7f3;
  --mantine-color-pink-2: #fbcfe8;
  --mantine-color-pink-3: #f9a8d4;
  --mantine-color-pink-4: #f472b6;
  --mantine-color-pink-5: #ec4899;
  --mantine-color-pink-6: #db2777;
  --mantine-color-pink-7: #be185d;
  --mantine-color-pink-8: #9d174d;
  --mantine-color-pink-9: #831843;
  --mantine-color-pink-10: #500724;
  --mantine-color-rose-0: #fff1f2;
  --mantine-color-rose-1: #ffe4e6;
  --mantine-color-rose-2: #fecdd3;
  --mantine-color-rose-3: #fda4af;
  --mantine-color-rose-4: #fb7185;
  --mantine-color-rose-5: #f43f5e;
  --mantine-color-rose-6: #e11d48;
  --mantine-color-rose-7: #be123c;
  --mantine-color-rose-8: #9f1239;
  --mantine-color-rose-9: #881337;
  --mantine-color-rose-10: #4c0519;
  --mantine-color-dark-0: #c1c2c5;
  --mantine-color-dark-1: #a6a7ab;
  --mantine-color-dark-2: #909296;
  --mantine-color-dark-3: #5c5f66;
  --mantine-color-dark-4: #373a40;
  --mantine-color-dark-5: #2c2e33;
  --mantine-color-dark-6: #25262b;
  --mantine-color-dark-7: #1a1b1e;
  --mantine-color-dark-8: #141517;
  --mantine-color-dark-9: #101113;
  --mantine-color-grape-0: #f8f0fc;
  --mantine-color-grape-1: #f3d9fa;
  --mantine-color-grape-2: #eebefa;
  --mantine-color-grape-3: #e599f7;
  --mantine-color-grape-4: #da77f2;
  --mantine-color-grape-5: #cc5de8;
  --mantine-color-grape-6: #be4bdb;
  --mantine-color-grape-7: #ae3ec9;
  --mantine-color-grape-8: #9c36b5;
  --mantine-color-grape-9: #862e9c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
